@charset "UTF-8";
.acq_order_control_panel {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 40px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	color: #060606;
	letter-spacing: normal;
	text-align: center;
	vertical-align: top;
	word-spacing: normal;
	white-space: normal;
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 0%;
	border-left: thin ridge #B9B9B9;
	border-right: thin ridge #B9B9B9;
	border-bottom: thin solid #303030;
	border-top: thin ridge #B9B9B9;
	overflow: visible;
	position: fixed;
	visibility: visible;
	z-index: 100;
	height: 10%;
	padding-right: 0%;
	width: 100%;
	background-color: #FFFFFF;
	top: 0%;
	float: none;
}

.acq_order_filter_panel {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 40px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	color: #060606;
	letter-spacing: normal;
	text-align: center;
	vertical-align: top;
	word-spacing: normal;
	white-space: normal;
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 0%;
	border-left: thin ridge #B9B9B9;
	border-right: thin ridge #B9B9B9;
	border-bottom: thin solid #303030;
	border-top: thin ridge #B9B9B9;
	overflow: visible;
	position: fixed;
	visibility: visible;
	z-index: 100;
	height: 8%;
	padding-right: 0%;
	width: 100%;
	background-color: #FDFDFD;
	top: 0%;
	float: none;
}
body, html {
	height: 100%;
	width: 100%;
	padding-top: 0%;
	padding-right: 0%;
	padding-bottom: 0%;
	padding-left: 0%;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	position: relative;
}
.acq_col_3 {
	width: 33.33%;
	height: 100%;
}
.acq_row {
	display: table;
	vertical-align: middle;
	text-shadow: 0px 0px #000000;
	color: undefined;
}
.acq_col {
	display: table-cell;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	vertical-align: middle;
	font-style: normal;
	text-align: center;
}
.acq_col_bottom_panel {

}
.acq_col_orders {

}
.acq_col_border {
	border-right: thin solid #284081;
	border-left-width: thin;
	border-left-color: #000000;
	border-collapse: collapse;
}
.acq_col_control_panel{
	color: #FFFFFF;
	background-color: #7A7C91;
}
.acq_col_border_align {
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 9%;
	padding-right: 9%
}
.acq_col_sub_cell {
	padding-bottom: 6%;
}
.acq_col_sub_cell_active {
	border-bottom: thick solid #00A40B;
	color: #0bb20c;
}

.acq_bottom_panel {
	width: 100%;
	height: 10%;
	bottom: 0px;
	border-top: thin solid #B6B6B6;
	z-index: 100;
	background-color: #FFFFFF;
	position: fixed;
	font-size: 40px;
	color: #7F7F7F;
}
.acq_bottom_placeholder {
	width: 100%;
	height: 30%;
}
.acq_bottom_tab {

}
.acq_background {
	background-color: #DADADA;
	z-index: -1;
	top: 0%;
	width: 100%;
	height: 100%;
	padding-top: 5%;
}
.acq_form_brief_info {
	font-size: 40px;
	margin-left: 4%;
	margin-right: 4%;
	padding-top: 3%;
	padding-bottom: 3%;
	overflow: hidden;
}
.acq_form_brief_info_identify {
	float: left;
	width: 55%;
	border-bottom: thin solid #A7A698;
	padding-top: 1%;
	padding-bottom: 1%;
}
.acq_form_brief_info_info {
	float: right;
	width: 35%;
	border-bottom: thin solid #A7A698;
	padding-top: 1%;
	padding-bottom: 1%;
}
.acq_border_align {
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}
.acq_order_summary_tab {
	/*height: 150px;*/
	background-color: #EAEAEA;
	overflow: auto;
	font-size: 40px;
}

.acq_summary_border_align {
	margin-left: 4%;
	margin-right: 4%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.acq_summary_title {
	color: #00A40B;
}
.acq_uncontent{
	text-align: center;
	vertical-align: middle;
	height: 150px;
	line-height: 150px;
	background-color: #EAEAEA;
	color: #BCBCBC;
	font-size: 30px;
}
.acq_section_bar {
	background-color: #DADADA;
	font-size: 25px;
	z-index: 100;
	width: 100%;
	color: #969696;
}
.acq_section_bar_position {
	margin-top: 10%;
}
.acq_section_background {
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 5%;
	overflow: hidden;
	font-size: 40px;
}
.acq_good_list_uncontent {
	height: 400px;
	line-height: 400px;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	color: #BCBCBC;
}

.acq_form_item {
	color: #989898;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 40px;
	border-bottom-color: #D2D2D2;
	border-bottom-style: solid;
	margin-left: 4%;
	margin-right: 4%;
	padding-top: 3%;
	padding-bottom: 3%;
	overflow: hidden;
}

.acq_good_item {
	margin-right: 0%;
}

.acq_good_checkbox {
	float: left;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 4.6em;
}


.acq_good_pic {
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	width: 25%;
}

.acq_good_details {
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	width: 65%;
}

.acq_good_details_title {
}

.acq_good_details_description {
	color: #ABABAB;
	font-size: 30px;
}

.acq_good_details_amount_price_detail {
	color: #ABABAB;
	font-size: 30px;
	overflow: hidden;
}

.acq_good_details_amount_price_detail_amount {
	float: left;
}

.acq_good_details_amount_price_detail_price {
	float: right;
	text-align: right;
}

.acq_good_billing {
	margin-left: 4%;
	margin-right: 4%;
	padding-top: 2%;
	overflow: hidden;
	font-size: 40px;
	color: #888888;
	text-align: right;
}

.acq_good_billing_total {
	color: #00A40B;
	font-size: 70px;
	display: inline;
}

.acq_good_billing_postfee {
	font-size: 30px;
	color: #AEAEAE;
	display: inline;
}

.acq_order_title {
	color: #989898;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 40px;
	border-bottom-color: #D2D2D2;
	border-bottom-style: solid;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	overflow: hidden;
}

.acq_order_title .acq_good_pic {
	width: 17%;
}

.acq_order_title .acq_good_details_title {
	padding-top: 3%;
}

.acq_order_title_details {
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	width: 50%;
}

.acq_order_title_billing {
	float: left;
	font-size: 40px;
	color: #888888;
	text-align: center;
}
.acq_order_title_billing_total {
	color: #00A40B;
	font-size: 60px;
}
.acq_order_title_billing_total_finished{
	color: #000000;
}
.acq_order_title_billing_status {
	font-size: 30px;
	color: #AEAEAE;
}
.acq_order_item {
	color: #989898;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 40px;
	border-bottom-color: #D2D2D2;
	border-bottom-style: solid;
	margin-left: 4%;
	padding-top: 3%;
	padding-bottom: 3%;
	overflow: hidden;
}
.acq_order_item .acq_good_pic {
	width: 25%;
}

.acq_order_oprt_bar {
	color: #989898;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 40px;
	margin-left: 4%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 2%;
}

.acq_order_oprt {
	float: right;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	border-right: thin solid #9d9d9d;
	padding-right: 1%;
	padding-left: 1%;
	font-size: 35px;
}

.acq_order_oprt_delete {
	color: #C7C7C7;
}

.acq_order_oprt_send {
	border: 0px;
}

.acq_order_address_bar{
	color: #989898;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 40px;
	border-bottom-color: #D2D2D2;
	border-bottom-style: solid;
	padding-left: 7%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	overflow: hidden;
	background-color: #EBECE9;
}
.acq_icon_div {
	float: left;
	width: 10%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 2%;
	padding-right: 2%;
	vertical-align: middle;
}
.acq_order_address {
	float: left;
	width: 80%;
	padding: 2%;
}

.acq_input_without_border {
	border-width: 0px;
	width: 45%;
	height: 55px;
	font-size: 40px;
	text-align: center;
}

.acq_input_with_border {
	border: 1px solid #919191;
	width: 100%;
	height: 55px;
	font-size: 35px;
}

.acq_add_size {
	height: 160px;
	line-height: 160px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
}

.acq_last_operation {
	height: 50px;
	text-align: center;
	padding-top: 10%;
}

button.btn {
	font-size: 40px;
	width: 70%;
}

button.btn.btn-primary {
	background-color: #FFFFFF;
	color: #C7C7C7;
}

.acq_payment_title {
	height: 20%;
	vertical-align: middle;
	text-align: center;
	background-color: #23CB3C;
	position: fixed;
	width: 100%;
	left: 50%;
	margin-left: -50%;
	top: 0%;
	display: inline-block;
	padding-top: 5%;
}
.acq_payment_status {
	font-size: 40px;
	background-color: #09B836;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #FFFFFF;
	margin-top: 25%;
}

.acq_userpic {
	border-radius: 50%;
}

.acq_goodpic {
	width:200px;
	height:180px;
}


.acq_sqno {
	width: 10%;
	float: left;
	text-align: center;
}
.acq_info {
	width: 40%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
}

.acq_info_goodlist {
	width: 50%;
	padding-left: 0%;
	padding-right: 5%;;
}

.acq_input {
	height: 60px;
	border: 1px solid #959595;
	line-height: 60px;
	vertical-align: middle;
}

.acq_info_prefix {
	width: 30%;
	height: 100%;
	font-size: 35px;
	text-align: center;
	border: 0px;
	float: left;
	color: #B3B3B3;
}

.acq_info_prefix_goodlist {
	width: 40%;
	font-size: 30px;
}
.acq_plus_minus_goodlist {
	width: 20%;
}
.acq_plus_goodlist {
	border-left: 1px solid #959595;
}
.acq_minus_goodlist {
	border-right: 1px solid #959595;
}
.acq_input_suffix {
	width: 60%;
	height: 55px;
	font-size: 35px;
	border: 0px;
	float: left;
	text-align: center;
}

.acq_oprt {
	width: 10%;
	float: left;
	text-align: center;
}

.acq_price {

}

.acq_amount {

}

.acq_circlediv {
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.acq_checkbox_small {
	width: 1.0em;
	height: 1.0em;
	background: white;
	border: 0.05em solid #C7C7C7;
	line-height: 1.0em;
}
.acq_checkbox_middle {
	width: 3.0em;
	height: 3.0em;
	background: white;
	border: 0.1em solid #959595;
	line-height: 3.0em;
}
.acq_checkbox_large {
	width: 4.5em;
	height: 4.5em;
	background: white;
	border: 0.1em solid #959595;
	line-height: 4.5em;
}

.acq_checkbox_checked {
	background: green;
	border: 0.05em solid green;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}

/* common style */
.acq_with_border {
	border: 1px solid #959595;
}
/*---------------------------------*/

/*tab bar active status*/
.acq_bottom_panel_active {
	color: #12DB35;	
}
.acq_bottom_panel_unactive {
	color: #7F7F7F;	
}
/*---------------------*/

/*for common bootstrap component*/
.checkbox{
	transform: scale(2.5);
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 2rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
}

/*weui css adjustment*/
.acq_uploader_files {
	list-style: none;
	padding-bottom: 0px;
}
.acq_uploader_file {
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	width: 200px;
	height: 200px;
	background: no-repeat center center;
	background-size: cover;
}
.acq_uploader_status {
	position: relative;
}
.acq_uploader_status:before {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.acq_uploader_status_remove {
	content: " ";
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.acq_uploader_status .acq_uploader_status_content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #FFFFFF;
}
.acq_uploader_status .weui_icon_warn {
	display: block;
}
.acq_uploader_input_wrp {
	float: left;
	position: relative;
	margin-right: 9px;
	margin-bottom: 9px;
	width: 200px;
	height: 200px;
	border: 1px solid #D9D9D9;
}
.acq_uploader_input_wrp:before,
.acq_uploader_input_wrp:after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #D9D9D9;
}
.acq_uploader_input_wrp:before {
	width: 2px;
	height: 39.5px;
}
.acq_uploader_input_wrp:after {
	width: 39.5px;
	height: 2px;
}
.acq_uploader_input_wrp:active {
	border-color: #999999;
}
.acq_uploader_input_wrp:active:before,
.acq_uploader_input_wrp:active:after {
	background-color: #999999;
}
.acq_uploader_input {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.glyphicon-ok-small {
	font-size: 0.6em;
}

.glyphicon-ok-middle {
	font-size: 2.1em;
}

.glyphicon-ok-large {
	font-size: 3.6em;
}
/*-------------------*/
